body{
    margin: 0 auto;
    padding: 0;
    background-image: url(../images/fundo.png);
    background-repeat: no-repeat;
    background-position: initial;
    background-position-x: center;
}